<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{TITLE}}</title>
  <meta name="description" content="{{META_DESCRIPTION}}">
  <link rel="canonical" href="{{CANONICAL}}">

  <link rel="stylesheet" href="{{STATIC}}/css/styles.css">

  <link rel="icon" type="image/x-icon" href="{{STATIC}}/img/favicon.ico">
  <link rel="icon" type="image/png" href="{{STATIC}}/img/favicon.png">

</head>
<body>

  {{HEADER}}

  <main>
    {{CONTENT}}
  </main>

  {{FOOTER}}

</body>
</html>