{% extends "base.html" %}


{% block title %}Welcome to Most Reviews{% endblock %}

{% block content %}

<section class="browse-sellers">
  <h1>Find Trending Products & Sellers</h1>
  <p>To start with we are just covering Not On The High Street. But keep watching for more additions</p>
</section>

<section class="top-links">
  <h2><a href="noths/index.html">NOTHS</a></h2>
  <ul>
    <li><a href="noths/sellers/index.html">🔤 A–Z Seller Directory</a></li>
    <li><a href="noths/sellers/by-year.html">📅 Sellers by Year Joined</a></li>
    <li><a href="noths/sellers/seller-most-products.html">📦 Sellers with Most Products</a></li>
  </ul>
</section>


{% endblock %}
